<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - FindMySquad</title>
  <link rel="stylesheet" href="/css/styles.css">
  {{{head}}}
</head>
<body>
<header class="navbar">
  <div class="logo">FindMySquad</div>
  <nav class="nav-buttons">
    {{#if isLoggedIn}}
      <span>Hi, {{username}}</span>
      <button onclick="location.href='/logout'">Logout</button>
    {{else}}
      <button onclick="location.href='/login'">Login</button>
      <button onclick="location.href='/signup'">Sign Up</button>
    {{/if}}
  </nav>
</header>


  <main>
    {{{body}}}
  </main>
</body>
</html>