<div class="host-game-container">
  <h1>Edit Game</h1>
  <form action="/host/edit/{{game._id}}" method="POST" class="host-game-form">
    <input type="text" name="title" placeholder="Title"
      value="{{game.title}}" />

    <select name="sport">
      <option value>Select Sport</option>
      <option value="Soccer" {{#if (eq game.sport
        "Soccer")}}selected{{/if}}>Soccer</option>
      <option value="Basketball" {{#if (eq game.sport
        "Basketball")}}selected{{/if}}>Basketball</option>
      <option value="Baseball" {{#if (eq game.sport
        "Baseball")}}selected{{/if}}>Baseball</option>
      <option value="Tennis" {{#if (eq game.sport
        "Tennis")}}selected{{/if}}>Tennis</option>
      <option value="Swimming" {{#if (eq game.sport
        "Swimming")}}selected{{/if}}>Swimming</option>
      <option value="Running" {{#if (eq game.sport
        "Running")}}selected{{/if}}>Running</option>
      <option value="Cycling" {{#if (eq game.sport
        "Table Cycling")}}selected{{/if}}>Cycling</option>
      <option value="Hiking" {{#if (eq game.sport
        "Hiking")}}selected{{/if}}>Hiking</option>
      <option value="Golf" {{#if (eq game.sport
        "Golf")}}selected{{/if}}>Golf</option>
      <option value="Volleyball" {{#if (eq game.sport
        "Volleyball")}}selected{{/if}}>Volleyball</option>

    </select>

    {{!-- <input type="text" name="venue" placeholder="Venue"
      value="{{game.venue}}" /> --}}
    <input type="date" name="gameDate" min="{{today}}"
      value="{{formatDateInput game.startTime}}">

    <div class="form-row">
      <input type="time" name="startTime" placeholder="Start Time"
        value="{{formatTimeInput game.startTime}}" />
      <input type="time" name="endTime" placeholder="End Time"
        value="{{formatTimeInput game.endTime}}" />
    </div>

    <input type="number" name="playersRequired" placeholder="Players"
      value="{{game.playersRequired}}" />
    <input type="text" name="description" placeholder="Description"
      value="{{game.description}}" />
    <input type="number" name="costPerHead" placeholder="Cost per Head"
      value="{{game.costPerHead}}" />

    <select name="skillLevel">
      <option value>Select Skill Level</option>
      <option value="Beginner" {{#if (eq game.skillLevel
        "Beginner")}}selected{{/if}}>Beginner</option>
      <option value="Intermediate" {{#if (eq game.skillLevel
        "Intermediate")}}selected{{/if}}>Intermediate</option>
      <option value="Advanced" {{#if (eq game.skillLevel
        "Advanced")}}selected{{/if}}>Advanced</option>
    </select>

    <input type="text" id="autocomplete" name="location" class="form-control"
      placeholder="Update Game Location" value="{{game.location}}" />
    <input type="hidden" name="host" value="{{hostId}}" />

    <button type="submit" class="submit-btn">Update Game</button>
  </form>
</div>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP-FJZsXytqUxzesnIEkrkUu4JoB1zO-M&libraries=places"></script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const input = document.getElementById('autocomplete');
    if (input) {
      const autocomplete = new google.maps.places.Autocomplete(input, {
        types: ['geocode'],
        componentRestrictions: { country: "us" }
      });
      autocomplete.addListener('place_changed', function () {
        const place = autocomplete.getPlace();
        if (place && place.formatted_address) {
          input.value = place.formatted_address;
        }
      });
    }
  });
</script>
