<div class="host-game-container">
  <h1>Edit Game</h1>
  <form action="/host/edit/{{game._id}}" method="POST" class="host-game-form">
    <input type="text" name="title" placeholder="Title" value="{{game.title}}" />

    <select name="sport">
      <option value="">Select Sport</option>
      <option value="Football" {{#if (eq game.sport "Football")}}selected{{/if}}>Football</option>
      <option value="Basketball" {{#if (eq game.sport "Basketball")}}selected{{/if}}>Basketball</option>
      <option value="Volleyball" {{#if (eq game.sport "Volleyball")}}selected{{/if}}>Volleyball</option>
      <option value="Tennis" {{#if (eq game.sport "Tennis")}}selected{{/if}}>Tennis</option>
      <option value="Badminton" {{#if (eq game.sport "Badminton")}}selected{{/if}}>Badminton</option>
      <option value="Cricket" {{#if (eq game.sport "Cricket")}}selected{{/if}}>Cricket</option>
      <option value="Table Tennis" {{#if (eq game.sport "Table Tennis")}}selected{{/if}}>Table Tennis</option>
      <option value="Baseball" {{#if (eq game.sport "Baseball")}}selected{{/if}}>Baseball</option>
      <option value="Hockey" {{#if (eq game.sport "Hockey")}}selected{{/if}}>Hockey</option>
    </select>

    <input type="text" name="venue" placeholder="Venue" value="{{game.venue}}" />
    <input type="date" name="gameDate" value="{{formatDateInput game.startTime}}" />

    <div class="form-row">
      <input type="time" name="startTime" placeholder="Start Time" value="{{formatTimeInput game.startTime}}" />
      <input type="time" name="endTime" placeholder="End Time" value="{{formatTimeInput game.endTime}}" />
    </div>

    <input type="number" name="playersRequired" placeholder="Players" value="{{game.playersRequired}}" />
    <input type="text" name="description" placeholder="Description" value="{{game.description}}" />
    <input type="number" name="costPerHead" placeholder="Cost per Head" value="{{game.costPerHead}}" />

    <select name="skillLevel">
      <option value="">Select Skill Level</option>
      <option value="Beginner" {{#if (eq game.skillLevel "Beginner")}}selected{{/if}}>Beginner</option>
      <option value="Intermediate" {{#if (eq game.skillLevel "Intermediate")}}selected{{/if}}>Intermediate</option>
      <option value="Advanced" {{#if (eq game.skillLevel "Advanced")}}selected{{/if}}>Advanced</option>
    </select>

    <input type="text" name="location" placeholder="City" value="{{game.location}}" />
    <input type="hidden" name="host" value="{{hostId}}" />

    <button type="submit" class="submit-btn">Update Game</button>
  </form>
</div>
