<div class="container my-4">

  <h2 class="mb-4">Your Bookings</h2>

  <!-- Past Games Section -->
  {{#if pastGameBookings.length}}
  <h4>Past Games</h4>
  {{#each pastGameBookings}}
  <div class="booking-card card mb-4">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text"><strong>Date:</strong> {{formattedDateTime}}</p>
      <p class="card-text"><strong>Venue:</strong> {{venue}}</p>

      {{#ifCond players.length '>' 1}}
      <button class="btn btn-primary btn-sm rate-players-btn" data-booking-id="{{_id}}">
        Rate Players
      </button>
      {{/ifCond}}

      <div id="rate-players-{{_id}}" class="rate-players-panel d-none mt-3">
        <form class="rate-form" data-booking-id="{{_id}}">
          {{#each players}}
          {{#ifCond this._id '!=' ../host}}
          <div class="mb-2">
            <strong>{{this.username}}</strong>
            <div class="rating-stars" data-user-id="{{this._id}}">
              <i class="fa-regular fa-star" data-score="1"></i>
              <i class="fa-regular fa-star" data-score="2"></i>
              <i class="fa-regular fa-star" data-score="3"></i>
              <i class="fa-regular fa-star" data-score="4"></i>
              <i class="fa-regular fa-star" data-score="5"></i>
            </div>
          </div>
          {{/ifCond}}
          {{/each}}
          <button type="submit" class="btn btn-success btn-sm mt-2">Submit Ratings</button>
        </form>
      </div>

    </div>
  </div>
  {{/each}}
  {{/if}}

  <!-- Past Gym Sessions -->
  {{#if pastGymBookings.length}}
  <h4>Past Gym Sessions</h4>
  {{#each pastGymBookings}}
  <div class="booking-card card mb-4">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text"><strong>Date:</strong> {{formattedDateTime}}</p>
      <p class="card-text"><strong>Gym:</strong> {{gym}}</p>

      {{#ifCond players.length '>' 1}}
      <button class="btn btn-primary btn-sm rate-players-btn" data-booking-id="{{_id}}">
        Rate Players
      </button>
      {{/ifCond}}

      <div id="rate-players-{{_id}}" class="rate-players-panel d-none mt-3">
        <form class="rate-form" data-booking-id="{{_id}}">
          {{#each players}}
          {{#ifCond this._id '!=' ../host}}
          <div class="mb-2">
            <strong>{{this.username}}</strong>
            <div class="rating-stars" data-user-id="{{this._id}}">
              <i class="fa-regular fa-star" data-score="1"></i>
              <i class="fa-regular fa-star" data-score="2"></i>
              <i class="fa-regular fa-star" data-score="3"></i>
              <i class="fa-regular fa-star" data-score="4"></i>
              <i class="fa-regular fa-star" data-score="5"></i>
            </div>
          </div>
          {{/ifCond}}
          {{/each}}
          <button type="submit" class="btn btn-success btn-sm mt-2">Submit Ratings</button>
        </form>
      </div>

    </div>
  </div>
  {{/each}}
  {{/if}}

  <!-- Future Games and Sessions -->
  <h4>Upcoming Games and Sessions</h4>
  {{#each futureGameBookings}}
  <div class="booking-card card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text"><strong>Date:</strong> {{formattedDateTime}}</p>
      <p class="card-text"><strong>Venue:</strong> {{venue}}</p>
    </div>
  </div>
  {{/each}}

  {{#each futureGymBookings}}
  <div class="booking-card card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text"><strong>Date:</strong> {{formattedDateTime}}</p>
      <p class="card-text"><strong>Gym:</strong> {{gym}}</p>
    </div>
  </div>
  {{/each}}

</div>



<script src="/js/bookings.js"></script>