<main class="container my-5 pb-5">
    <h2 class="text-center mb-4">Complete Your Profile</h2>

    <form id="profileForm" class="mx-auto" method="POST" action="/profile/addprofile"
        style="width: auto; max-width: none;">
        <!-- First & Last Name -->
        <div class="row mb-3 g-3">
            <div class="col-md-4">
                <label for="firstName" class="form-label">First Name *</label>
                <input type="text" name="firstName" id="firstName"
                    class="form-control" placeholder="First Name" value="{{formData.firstName}}">
            </div>
            <div class="col-md-4">
                <label for="lastName" class="form-label">Last Name *</label>
                <input type="text" name="lastName" id="lastName"
                    class="form-control" placeholder="Last Name" value="{{formData.lastName}}">
            </div>
            <div class="col-md-4">
                <label for="gender" class="form-label">Gender *</label>
                <select class="form-select" name="gender" id="gender">
                    <option value>Select Gender</option>
                    <option value="Male" {{#if (eq formData.gender "Male")}}selected{{/if}}>Male</option>
                    <option value="Female" {{#if (eq formData.gender "Female")}}selected{{/if}}>Female</option>
                    <option value="Other" {{#if (eq formData.gender "Other")}}selected{{/if}}>Other</option>
                </select>
            </div>
        </div>

        <!-- Profile Pic Radio -->
        <label>Select a Profile Pic *</label>
        <div class="d-flex gap-3">
            <label>
                <input type="radio" name="profilePic"
                    value="/images/profile1.PNG" hidden
                    {{#if (eq formData.profilePic "/images/profile1.PNG")}}checked{{/if}}>
                <img src="/images/profile1.PNG"
                    class="img-thumbnail profile-option {{#if (eq formData.profilePic "/images/profile1.PNG")}}selected{{/if}}" width="60">
            </label>
            <label>
                <input type="radio" name="profilePic"
                    value="/images/profile2.jpg" hidden  {{#if (eq formData.profilePic "/images/profile2.jpg")}}checked{{/if}}>
                <img src="/images/profile2.jpg"
                    class="img-thumbnail profile-option  {{#if (eq formData.profilePic "/images/profile2.jpg")}}selected{{/if}}" width="60">
            </label>
            <label>
                <input type="radio" name="profilePic"
                    value="/images/profile3.jpg" hidden {{#if (eq formData.profilePic "/images/profile3.jpg")}}checked{{/if}}>
                <img src="/images/profile3.jpg"
                    class="img-thumbnail profile-option {{#if (eq formData.profilePic "/images/profile3.jpg")}}selected{{/if}}" width="60">
            </label>
            <label>
                <input type="radio" name="profilePic"
                    value="/images/profile4.jpg" hidden {{#if (eq formData.profilePic "/images/profile4.jpg")}}checked{{/if}}>
                <img src="/images/profile4.jpg"
                    class="img-thumbnail profile-option{{#if (eq formData.profilePic "/images/profile4.jpg")}}selected{{/if}}" width="60">
            </label>
        </div>

        <!-- Location and phone number -->
        <div class="row mt-4">
            <div class="col-md-6">
                <label for="city" class="form-label">City *</label>
                <input type="text" id="city" name="city" class="form-control"
                    placeholder="Enter your city" value="{{formData.city}}" >
            </div>
            <div class="col-md-6">
                <label for="phoneNumber" class="form-label">Phone Number <span
                        class="text-danger">*</span></label>
                <input type="tel" id="phoneNumber" name="phoneNumber"
                    class="form-control"
                    placeholder="Enter a valid phone number"
                    value="{{formData.phoneNumber}}" />
                <div id="phoneError" class="form-text text-danger"></div>
                <small class="form-text text-muted">Format: 123-456-7890</small>
                <div id="phoneError" class="form-text text-danger"></div>
            </div>
        </div>

        <!-- Bio -->
        <textarea name="bio" id="bio" class="form-control mt-3"
            placeholder="Tell us about yourself...">{{formData.bio}}</textarea>

        <!-- Sports Checkboxes -->
        <label class="mt-4">Select Sports: *</label>
        <div class="row row-cols-2 row-cols-md-4 g-2 mt-2" id="sportsList">
            {{#each sportsList}}
            <div class="col text-center">
                <label class="btn btn-outline-success w-100 {{#if (includes ../formData.sportsInterests this)}}active{{/if}}">
                    <input type="checkbox" name="sportsInterests"
                        value="{{this}}" class="d-none" {{#if (includes ../formData.sportsInterests this)}}checked{{/if}} > 
                        {{this}}
                </label>
            </div>
            {{/each}}
        </div>

        <div class="mt-5">
            <label class="form-label d-block mb-2">Select Workout Types:</label>
            <div class="row row-cols-2 row-cols-md-4 g-2 mt-2" id="workoutList">
                {{#each workoutTypes}}
                <div class="col text-center">
                    <label class="btn btn-outline-success w-100 {{#if (includes ../formData.workoutTypes this)}}active{{/if}}">
                        <input type="checkbox" name="workoutTypes"
                            value="{{this}}" class="d-none" {{#if (includes ../formData.workoutTypes this)}}checked{{/if}}> {{this}}
                    </label>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="mt-5">
            <label class="form-label d-block mb-2">Select Your Gaming
                Interests: </label>
            <div class="row row-cols-2 row-cols-md-4 g-2 mt-2" id="gamingList">
                {{#each gamingOptions}}
                <div class="col text-center">
                    <label class="btn btn-outline-success w-100 {{#if (includes ../formData.gamingOptions this)}}active{{/if}}">
                        <input type="checkbox" name="gamingOptions"
                            value="{{this}}" class="d-none" {{#if (includes ../formData.gamingOptions this)}}checked{{/if}}> 
                            {{this}}
                    </label>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" id="showContactInfo" name="showContactInfo" {{#if formData.showContactInfo}}checked{{/if}}>
            <label class="form-check-label" for="showContactInfo">
                Show contact information on your profile
            </label>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Save Profile</button>
    </form>
</main>


<script src="/js/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const profilePics = document.querySelectorAll('input[name="profilePic"]');
        const profileImages = document.querySelectorAll('.profile-option');

        profilePics.forEach((radio, index) => {
            radio.addEventListener('change', () => {
                profileImages.forEach((img) => img.classList.remove('selected'));
                profileImages[index].classList.add('selected');
            });
        });
    });


    const selectedRadio = document.querySelector('input[name="profilePic"]:checked');
    if (selectedRadio) {
        selectedRadio.nextElementSibling.classList.add('selected');
    }

    document.addEventListener('DOMContentLoaded', () => {
        const toggleLabels = document.querySelectorAll('label.btn input[type="checkbox"]');

        toggleLabels.forEach((input) => {
            const label = input.closest('label');

            label.addEventListener('click', (e) => {
                e.preventDefault();
                input.checked = !input.checked;
                label.classList.toggle('active', input.checked);
            });

            if (input.checked) {
                label.classList.add('active');
            }
        });
    });

</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP-FJZsXytqUxzesnIEkrkUu4JoB1zO-M&libraries=places&callback=initAutocomplete"
    async defer></script>

<script>
  function initAutocomplete() {
    const input = document.getElementById('city');
    new google.maps.places.Autocomplete(input, {
      types: ['(cities)']
    });
  }
</script>
