<div class="profile-page">

  <div class="sidebar">
    <img src="{{avatar}}" alt="User Avatar" class="avatar">
    <h3>{{firstName}} {{lastName}}</h3>
    <p>{{email}}</p>
    <p>ID: {{userId}}</p>

    <a href="/games" class="button">All Games</a>
    <a href="/profile/edit" class="button edit">Edit Profile</a>
  </div>

  <div class="profile-content">
    <h2>User Information</h2>

    <div class="info">
      <label>Name:</label>
      <span>{{firstName}} {{lastName}}</span>
    </div>

    <div class="info">
      <label>Email:</label>
      <span>{{email}}</span>
    </div>

    <div class="info">
      <label>User ID:</label>
      <span>{{userId}}</span>
    </div>

  </div>
</div>

<script src="/js/userProfile.js"></script>
